---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import BlogList from "@/components/BlogList";

const allPosts = await getCollection("blog");
const posts = allPosts
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const formatDate = (date: Date) =>
  date.toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });

const serializedPosts = posts.map((post) => ({
  id: post.id,
  title: post.data.title,
  formattedDate: formatDate(post.data.date),
  description: post.data.description,
}));
---

<Layout title="Blog">
  <section aria-labelledby="posts-heading">
    <h1 class="sr-only" id="posts-heading">Blog</h1>
    <BlogList posts={serializedPosts} client:load />
  </section>
</Layout>
