---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404 — Not Found">
  <div
    class="m-auto flex h-full w-full flex-col items-center justify-center px-16 text-center"
  >
    <p class="text-foreground-muted mb-2 text-sm select-none">
      bash: cd: $path: No such file or directory
    </p>
    <h1 class="text-primary mb-6 text-6xl font-bold">404</h1>
    <p class="text-foreground-secondary mb-8">
      The page you're looking for doesn't exist.
    </p>
    <a href="/" title="Go back to homepage">$ cd ~</a>
  </div>
</Layout>
